<router-outlet></router-outlet>

<h1 class="text-center text-black">Comparador de productos</h1>

<div class="container flex-row justify-content-center d-flex">
  <!--Hacer dos selectores en el cual aparezca el nombre del producto que se quiera comparar, al seleccionar los dos se compararan en el grafico-->
  <select name="Producto1" id="seleccionar1">
    @for (item of productList(); track item.id; let id = $index) {
      <option value="{{item.id}}">{{item.nombre}}</option>
    }
  </select>
  <select name="Producto2" id="seleccionar2">
    @for (item of productList(); track item.id; let id = $index) {
      <option value="{{item.id}}">{{item.nombre}}</option>
    }
  </select>
</div>